.header {
  background: var(--gray-700);
  heigh: 200px;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  padding: 72px 0 80px 0;
}
